<section class="vh-90" style="background-color:white;">
    <div class="container h-90">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">SignUp Form</p>

                                <form class="mx-1 mx-md-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c"><b>Your Name</b></label>

                                            <input type="text" id="form3Example1c" class="form-control"
                                                placeholder="Your Name" formControlName="name" />
                                        </div>
                                    </div>
                                    <div *ngIf="gloabalStatus && this.signupForm.controls['name'].errors">
                                        <span *ngIf="this.signupForm.controls['name'].errors['required']">* Your Name is required.</span>
                                        <span *ngIf="this.signupForm.controls['name'].errors['minlength']">* Name must
                                            have 5 character.</span>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example2c"><b>Your Email</b></label>

                                            <input type="email" id="form3Example2c" class="form-control"
                                                placeholder="Your Email Id" formControlName="email" />

                                        </div>
                                    </div>
                                    <div *ngIf="gloabalStatus && this.signupForm.controls['email'].errors">
                                        <span *ngIf="this.signupForm.controls['email'].errors['required']">* Email is
                                            required</span>
                                            <span *ngIf="this.signupForm.controls['email'].errors['email']">* Please Enter Right Email format.
                                            </span>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3cd"> <b>Your
                                                    Location</b></label>

                                            <input type="text" id="form3Example3cd" class="form-control"
                                                placeholder="Your Location" formControlName="location" />
                                        </div>
                                    </div>
                                    <div *ngIf="gloabalStatus && this.signupForm.controls['location'].errors">
                                        <span *ngIf="this.signupForm.controls['location'].errors['required']">* Your
                                            location is
                                            required</span>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c"><b>Password</b></label>

                                            <input type="password" id="form3Example4c" class="form-control"
                                                placeholder="Your Password" formControlName="password" />
                                        </div>
                                    </div>
                                    <div *ngIf="gloabalStatus && this.signupForm.controls['password'].errors">
                                        <span *ngIf="this.signupForm.controls['password'].errors['required']">* Password
                                            is required</span>
                                        <span *ngIf="this.signupForm.controls['password'].errors['minlength']">*
                                            password must be at least 8
                                            letter.</span>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox" value=""
                                            id="form2Example3c" />
                                        <label class="form-check-label" for="form2Example3">
                                            I agree all statements in <a routerLink="/TermCondtion">Terms of service</a>
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button mat-raised-button color="primary" type="submit">Submit</button>
                                    </div>

                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://www.inspiredtaste.net/wp-content/uploads/2019/07/Crispy-Falafel-Recipe-1200.jpg"
                                    class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>